<div id="nav-bar" class="d-flex flex-column container float-left">
    <div class="d-flex flex-grow-1 row align-items-center">
        <div class="container">
            <div class="m-3">
                <div class="w-100 text-right text-white">
                    <button (click)="onClickHome()">Home</button>
                </div>
            </div>
            <div class="m-3">
                <div class="w-100 text-right text-white">
                    <button (click)="onClickResume()">Portfolio</button>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row justify-content-center p-1">
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/raymond-l-126652123/">
            <i class="fa fa-linkedin-square icon m-3"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/raymondlin1">
            <i class="fa fa-github icon m-3"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" href="mailto: raymond.lin0226@gmail.com">
            <i class="fa fa-envelope icon m-3"></i>
        </a>
    </div>
</div>