<div class="animated animatedFadeInUp fadeInUp p-5 container-fluid">
    <div class="py-4 row">
        <div class="col">
            <h1 id="title" class="display-4">Portfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="course">Resume</span>
            <a 
                class="ml-3 course"
                target="_blank" 
                rel="noopener noreferrer" 
                href="assets/Resume.pdf">
                <i class="icon fa fa-file-text"></i>
            </a>
        </div>
    </div>
    <div class="py-4 row">
        <div class="col">
            <h1>Education</h1>
            <br>
            <b>University of California, Los Angeles</b>
            <br>
            Computer Science, BS
            <br>
            2017 - 2021 (Expected)
            <br>
            GPA: 3.5
        </div>
        <div class="col">
            <h1>Experience</h1>
            <br>
            <b>Planetary Gaming</b> - Software Developer Intern (Unity/C#)
            <br>
            (Jan 2019 - Jun 2019)
        </div>
    </div>
    <div class="py-4 row">
        <div class="col">
            <h1>Skills</h1> 
            <br>
            (In order of proficiency)
            <br><br>
            <b>Programming Languages</b>
            <br> C++, JavaScript (Node.js), Python, Java,
            C#, Ruby
            <br><br>
            <b>Frameworks</b> 
            <br>Angular, Express.js, Ruby on Rails, React
            <br><br>
            <b>Databases</b> 
            <br>MongoDB, PostgreSQL, AWS DynamoDB
            <br><br>
            <b>Tools</b> 
            <br>Git, Linux, Docker, AWS - Lambda, Elastic Beanstalk
            <br><br>
            <b>Other</b>
            <br> SQL, HTML/CSS
        </div>
        <div class="col">
            <h1>Coursework</h1>
            <br><br>
            <span class="course">CS180 - Algorithms and Complexity</span>
            <span class="course">
                <a 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    href="https://github.com/raymondlin1/CS180-Algorithms-And-Complexity">
                    <i class="fa fa-github icon ml-3"></i>
                </a>
            </span>
            <br><br>
            CS144 - Web Applications
            <br><br>
            <span class="course">CSM146 - Intro to Machine Learning</span>
            <span class="course">
                <a 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    href="https://github.com/raymondlin1/CSM146-Machine-Learning">
                    <i class="fa fa-github icon ml-3"></i>
                </a>
            </span>
            <br><br>
            <span class="course">CS188 - Data Science</span>
            <span class="course">
                <a 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    href="https://github.com/raymondlin1/CS188-Data-Science">
                    <i class="fa fa-github icon ml-3"></i>
                </a>
            </span>
            <br><br>
            <span class="course">CS131 - Programming Languages</span>
            <span class="course">
                <a 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    href="https://github.com/raymondlin1/CS131-Programming-Languages">
                    <i class="fa fa-github icon ml-3"></i>
                </a>
            </span>
            <br><br>
            <span class="course">CS188 - Scalable Internet Services</span>
            <span class="course">
                <a 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    href="https://github.com/scalableinternetservices/incognito">
                    <i class="fa fa-github icon ml-3"></i>
                </a>
            </span>
            <br><br>
            <span class="course">CS118 - Computer Networks</span>
            <span class="course">
                <a 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    href="https://github.com/raymondlin1/CS118-Computer-Network-Fundamentals">
                    <i class="fa fa-github icon ml-3"></i>
                </a>
            </span>
            <br><br>
            <span class="course">CS143 - Database Systems</span>
            <span class="course">
                <a 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    href="https://github.com/raymondlin1/CS143-Database-Systems">
                    <i class="fa fa-github icon ml-3"></i>
                </a>
            </span>
            <br><br>
            CS111 - Operating Systems
        </div>
    </div>
    <div class="py-4 row">
        
    </div>
</div>
