<div class="animated animatedFadeInUp fadeInUp container">
    <div class="p-4 row justify-content-center">
        <h1 class="m-4 display-3">
            Hi, I'm Raymond.
        </h1>
    </div>
    <div class="row">
        <div class="p-4">
            <img 
                id="portrait"
                src="assets/portrait.png">
        </div>
        <div class="col p-4 mt-4">
            I see you've stumbled across my website! Feel free to take a
            look around! 😊
            <br><br>
            Let me tell you a bit about myself. I am 
            currently a 3rd-year Computer Science major at UCLA, and I 
            am interested in full-stack software development. I am originally
            from the San Francisco Bay Area, but before that, I lived in 
            Australia.
            <br><br>
            In the 'Portfolio' tab to the left, you can find more information 
            about me, including my skills, projects and 
            completed coursework. 
        </div>
    </div>
    <div class=" row">
        <div class="p-4">
            <a
                id="link-to-old"
                target="_blank" 
                rel="noopener noreferrer" 
                href="https://raymondlin1.github.io/Raymond-Lin-Website/about">
                Click here to see my old website.
            </a>
        </div>

    </div>
</div>
