#portrait
{
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

button:focus
{
    outline: none;
}

.container
{
    position: absolute;
    left: 23em;
    width: calc(100% - 23em);
    
}

#link-to-old
{
    font-size: 17px;
    color: black;
}

@media (max-width: 600px)
{
    .greeting
    {
        font-size: 35px;
    }

    .container
    {
        left: 0;
        top: 200px;
        z-index: 0;
        width: 100% !important;
        overflow-x: hidden !important;
        padding: 0 !important;
    }

    .text
    {
        font-size: 12px;
    }

    #portrait
    {
        height: 150px;
        width: 150px;
    }

    #portrait-wrapper
    {
        width: 100%;
        justify-content: center;
    }

    #link-to-old
    {
        font-size: 12px;
    }
}